<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>短网址服务</title>
    <script src='/webjars/jquery/jquery.js' type="text/javascript"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container-fluid">
    <div>
        <h2 class="display-5 text-center">修改短链接名称</h2>
    </div>
    <form action="/shortlink/modify" class="form-horizontal" method="post">
        <div>
            <label for="url">短链接: </label>
            <input id="url" name="url" type="text" th:value="${url}" readonly>
        </div>
        <div>
            <label for="name">请输入新的短链接名称: </label>
            <input id="name" name="name" type="text" th:value="${name}">
        </div>
        <button type="submit" class="btn btn-primary">确认</button>
    </form>
</div>
<!--<script src='/webjars/jquery/jquery.js' type="text/javascript"></script>-->
<script>
    //var url = window.location.href.split('?')[1].split('=')[1]
    //var orig_url = '${url}';
    //$('input[name=url]').val(orig_url);

</script>
</body>
</html>